.container {
  margin: auto;
  max-width: 900px;
  font-family: sans-serif;
}

.dateClass {
  font-size: x-small;
}

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
}

.heading {
  color: #3897d3;
}
